h1{font-size:2.4rem}

h2{font-size:2rem}

.header{font-size:2.5rem;font-style:italic;color:rgb(91,64,147)}

.logo {font-size:5rem; font-weight:bold;color:#000;text-decoration:none}

body {
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
  font-size: 1.5rem;
  color: #000;

}

iframe 
{
  border: none; 
  height: 100vh;        /* Viewport-relative units */
  width: 100%
}

button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: "Times New Roman", Times, serif;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2.5rem;
  font-size: 1rem;
  text-align: right;
}